
body {
    background: #35353A;
}

.nawigacja {
    display: grid;
    grid-template-columns: 1fr 150px 180px 180px;
    list-style-type: none;
    position: sticky;
    background-color: #C0C4C8;
    opacity: 40%;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
    height: 50px;
    align-items: center;
    justify-content: end;
}

li {
    color: #2D2927;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    justify-content: center;
    text-decoration: none;
}

#left {
    justify-self: start;
}

.home {
    background: url("https://res.cloudinary.com/ded5al291/image/upload/v1606316117/CodersCamp%20projekt%201%2C%20wizytowka/71947724_10162436315095603_1495712864659308544_o_ccsmpg.jpg");
    background-size: cover;
    height: 600px;
    margin-top:-100px;
    margin-left: -10px;
    margin-right: -10px;
    z-index: -1;
}

div.home {
    position: relative;
    height: 600px;
}

div.home img {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.about {
    position: relative;
    top: 70px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "photo hello"
                        "photo about";
    justify-items: center;
    align-content: center;

}
div.about img {
    grid-area: photo;
    
}

div.about h1 {
    color: #D4E0EB;
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
    grid-area: hello;
    
}

div.about p {
    color: #D4E0EB;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    grid-area: about;
    text-align: center;
}